{% extends 'base.html' %}
{% block content %}
<h2 class="textCenter">HTTP 에러코드</h2>

<p>200번대: 정상</p>
<p>400번대: 클라이언트 측에서 서버 측에 보낸 요청이 에러가 있을 때 보내는 코드</p>
<ul>
    <li>- 400 Bad Request : 클라이언트가 요청을 잘못 보냈음</li>
    <li>- 401 Unauthorized : 인증되지 않은 사용자가 인증이 필요한 자료를 요청</li>
    <li>- 403 Forbidden : 접근이 금지된 리소스를 요청하였음(리소스 접근 자체가 불가한 경우)</li>
    <li>- 404 Not Found : 요청한 리소스가 존재하지 않음</li>
    <li>- 408 Request Timeout : 서버의 요청 대기가 시간을 초과했을 때 발생, 서버와 클라이언트가 연결은 되었지만 본문이 제때 도착하지 않은 경우</li>
    <li>- 429 Too Many Request : 클라이언트가 일정 시간 내에 너무 많은 요청을 보냈을 때</li>
</ul>

<p>500번대: 서버 측에서 무언가 에러가 있을 때 보내는 코드</p>
<ul>
    <li>- 500 Internal Server Error : 서버에 오류가 발생하여 요청을 수행할 수 없음</li>
    <li>- 502 Bad Gateway : 백엔드 아키텍처가 제대로 동작하고 있지 않은 상황</li>
    <li>- 503 Service Unavailable : 서버가 요청을 처리할 준비가 되지 않았음, 서버가 오버로드 되었거나, 유지관리를 위해 다운되었을 때 발생하는 일시적 현상</li>
    <li>- 504 Gateway Timeout : 백엔드 아키텍처 내의 요청 대기가 시간을 초과하였을 때 발생</li>
</ul>
{% endblock %}