{% extends 'base.html' %}
{% block content %}
<h2 class="textCenter">웹 서버는 어떻게 로그인을 유지하는가</h2>
<ul>
    <li>
        1. 쿠키:
        <li>
            <p>클라이언트가 서버에게 로그인 요청을 하고 서버가 받아들이면</p>
            <p>서버: ”이제 쿠키에 니 이름만 넣어서 줘~ 그거 보고 판단해서 니 정보 줄게”</p>
            <p>클라이언트: “그래!”</p>
            <p>위와 같은 방법은 <strong>클라이언트가 쿠키 값을 변조할 수 있어</strong> 매우 취약해 현재는 사용하지 않는 기법이다.</p>
        </li>
    </li>
    <li>
        2. 세션:
        <li>
            <p>위와 같은 취약점을 보완하기 위해 서버는 다음과 같은 생각을 했다.</p>
            <p>서버: “클라이언트들이 막 쿠키를 바꿔서 안되겠어… 내가 직접 값을 다뤄야겠다…!!”</p>
            <p>이후 서버는 서버 내 세션 테이블을 만들어 그 안에 사용자와 연결된 무작위의 세션번호를 기록하기로 했다.</p>
            <p>서버: “이제 로그인 후에 세션 번호 줄 테니 그거 쿠키에 적어서 와!”</p>
            <p>클라이언트: “알았어!”</p>
            <p>세션 번호는 <strong>영어, 숫자 포함 무작위 형태로 생성되기 때문에</strong> 유추하기 어려워 중간에 쿠키 값을 변조해서 생기는 취약점을 보완했다.</p>
        </li>
    </li>
    <li>
        3. JWP:
        <li>
            <p>DB를 가지 않고 세션 아이디에 모든 정보를 때려 넣고 암호화 시켜 상대방에게 준다.</p>
            <p>하지만 이 경우  중간에 탈취만 하면 바로 모든 정보를 알 수 있다는 점에선 취약하다.</p>
        </li>
    </li>
</ul>
{% endblock %}